.home__section {
  background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./../../image/fon.jpeg') no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;

  .body__home {
    max-width: 380px;
    height: 100%;
    margin: 0 auto;
    text-align: center;

    .home__title {
      color: white;
      margin-bottom: 21px;
    }

    .home__text {
      margin-bottom: 32px;
      color: white;
    }
  }
}